<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'login')}">
<head>
	<meta charset="UTF-8">
	<title></title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
	
    
</head>  
<body>
    <div class="contact_form">

        <div class="formulario">  

    <form class="formulario" th:object="${user}" th:action="@{/usuario/login}" method="post">
    <h1>Bienvenido!</h1>
        <input type="text" placeholder="Usuario" th:field="*{userID}">
        <input type="password" placeholder="Contraseña" th:field="*{password}" th:with="text='Login'">
        <input type="submit" value="Login" class="button" >
    </form>
    </div>
</div>


    <p th:text="${mensaje}">
    
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/webjars/jquery.inputmask/jquery.inputmask.min.js}"></script>         
    
</body>
</html>