<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'contact')}">
<head>
    <meta charset="UTF-8">
    <title></title> 
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
</head>      

<body>
 
  <div class="contact_form">

    <div class="formulario"> 
              <h1>Contactanos</h1>
            
            <form th:object="${contact}" th:action="@{/contacto/create}" method="post">
              
                  <input type="text" th:field="*{nombre}" placeholder="Nombres"/>
                
                  <input type="text" th:field="*{apellido}" placeholder="Apellidos" />
                
                  <input type="text" data-inputmask="'alias': 'email'"
                  autocomplete="off" th:field="*{email}" placeholder="Email" />
                
                  <input type="text" data-inputmask="'mask': '(999) 999-9999'" th:field="*{phone}" placeholder="Telefono" />
               
                  <textarea cols="22" rows="4" th:field="*{reason}" placeholder="Comentario" />
               
                  
                    <input type="submit" value="Agregar Contacto" class="button">
                
            </form>
            <p th:text="${mensaje}"></p>
          </div>
        </div>
      
    
      <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
      <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
      <script th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
      <script th:src="@{/webjars/jquery.inputmask/jquery.inputmask.min.js}"></script>    
  
      <script>
        $('.input-group.date').datepicker({
          autoclose: true,
          todayHighlight: true
        });
      </script>
      <script>
        $(":input").inputmask();
      </script>
</body>

</html>